html{
    background-color: black;
}

div{
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    margin-top: 10%;
}

img{
    border: 5px white solid;
    height: 300px;
}

p{
    font-size: smaller;
}